.todo {
  display: flex;
  position: relative;
  padding: 10px;
  background: #C8C8C8;
  &__text {
    flex-basis: 100%;
  }
  &__button {
    width: 20px;
    cursor: pointer;
    text-align: center;
  }
  &__line {
    position: absolute;
    left: 0;
    top: 50%;
    width: calc(100% - 30px);
    height: 2px;
    background-color: #000000;
  }
}
